body {

  font-family: 'Roboto', sans-serif;
  background-image: url('img/pokeball.png');
  background-size: 200px;
  font-weight: 600;
  text-transform: uppercase; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
 * {
  box-sizing: border-box; 
} 
header {
 
  width: 100%;
  background-color: #921010; 
  color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border: 2px solid #000;
  border-radius: 4rem;
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.nav-item {
  display: inline-block;
}

.logo {
  margin-bottom: 15px;
}
.nav-item button {
  
  text-transform: uppercase;
  background-color: #ffce09; 
  border: solic black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#Bulbasaur{

  background-color: #3ba7ff;
}
#Vaporeon{

  background-color: rgb(0, 204, 143);
}


.grid-container {
  display: grid;
  grid-template-columns:  2fr 1fr; 
  gap: 20px; 
  align-items: center; 
  width: 70%;
  padding: 20px;
  background-color: #4c4c4c; 
  box-shadow: 0 4px 8px rgba(67, 0, 0, 0.701);
  
}

@media (max-width: 375px) {
  .grid-container {
    grid-template-columns: 1fr; 
    gap: 10px; 
    padding: 10px; 
    width: 100%; 
  }
}
@media (max-width: 390px) {
  .grid-container {
    grid-template-columns: 1fr; 
    gap: 10px; 
    padding: 10px; 
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .grid-container {
    padding: 8px;
    gap: 8px; 
  }
}

#three-container {
  overflow: hidden;
  width: 90%;
  box-shadow: none;
  max-width: 500px;
  margin: 0 auto 20px;
  height: 500px;
  border-radius: 40px;
 
}
@media (max-width: 768px) {
  #three-container {

    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    border-radius: 20px; 
  }
}
.right-column {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #555555;
  padding: 10px;
  border: 2px #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(42, 42, 42, 0.1);
  height: 500px;
  overflow: hidden;
  width: 90%;
}
@media (max-width: 768px) { 
  .right-column {
    margin: auto;
    padding: 10px; 
    height: 20%; 
    
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(42, 42, 42, 0.1); 
  }
}

.pokemon-tipos,
.pokemon-stats,
.pokemon-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #dcdcdc;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 2px 0;
  max-height: calc((100% - 20px) / 3); 
}

.pokemon-tipos p, h2,
.pokemon-stats p, h2, h1,
.pokemon-info p, h2 {
  margin: 5px 0; 
}


@media (max-width: 768px) {
  .pokemon-tipos,
  .pokemon-stats,
  .pokemon-info {
    max-height: none; 
    padding: 10px; 
    border-radius: 10px; 
  }

  .pokemon-tipos p, h2,
  .pokemon-stats p, h2, h1,
  .pokemon-info p, h2 {
    font-size: 14px; 
    text-align: center; 
    margin: 3px 0; 
  }
}


.tipo, .stat {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 35px;
  border-radius: 20px;
  overflow: hidden; 
  text-align: center; 
  padding: 5px; 
  white-space: nowrap; 
}

.tipo {
  background-color: #ff8f27;
  border: 2px solid #d2e710;
}

.stat {
  background-color: #f02e2e;
  border: 2px solid #960808;
}

@media (max-width: 768px) {
  .tipo, .stat {
    width: 80%; 
    font-size: 12px; 
    height: auto; 
    white-space: normal; 
    padding: 10px; 
  }
}

